{
    "zoo_core": {
        "path": "$ZOO_LOCAL_DEV/zoo_core",
        "type": "path"
    },
    "zoo_preferences": {
        "path": "$ZOO_LOCAL_DEV/zoo_preferences",
        "type": "path"
    },
    "zoo_pyside": {
        "type": "path",
        "path": "$ZOO_LOCAL_DEV/zoo_pyside"
    },
    "slither": {
        "type": "path",
        "path": "$ZOO_LOCAL_DEV/slither"
    }
}