{
    "zoo_core": {
        "path": "D:\\dave\\code\\python\\tools\\personal/zoo_core",
        "type": "path"
    },
    "zoo_preferences": {
        "path": "D:\\dave\\code\\python\\tools\\personal/zoo_preferences",
        "type": "path"
    },
    "zoo_pyside": {
        "type": "path",
        "path": "D:\\dave\\code\\python\\tools\\personal/zoo_pyside"
    },
    "slither": {
        "type": "path",
        "path": "D:\\dave\\code\\python\\tools\\personal/slither"
    }
}